[submodule "pypath"]
	path = pypath
	url = https://github.com/saezlab/pypath
	branch = download-manager-experiment
[submodule "download-manager"]
	path = download-manager
	url = https://github.com/saezlab/download-manager
	branch = download-manager-experiment
[submodule "ontograph"]
	path = ontograph
	url = https://github.com/saezlab/ontograph.git
	branch = main
