[submodule "pypath"]
	path = pypath
	url = https://github.com/saezlab/pypath
	branch = master
[submodule "download-manager"]
	path = download-manager
	url = https://github.com/saezlab/download-manager
	branch = main
[submodule "cache-manager"]
	path = cache-manager
	url = https://github.com/saezlab/cache-manager.git
	branch = main
