# Staging environment - follows latest data
DATA_DIR=../data/releases/latest
MEILISEARCH_API_KEY=change-me
MEILI_ENV=production
NEXT_PUBLIC_ENVIRONMENT=staging
NEXT_PUBLIC_DOMAIN=staging.omnipath.org
GOOGLE_GENERATIVE_AI_API_KEY=change-me
MEILISEARCH_PORT=7710
MEILISEARCH_VOLUME_NAME=omnipath-staging-meilisearch
ONTOLOGY_CACHE_VOLUME_NAME=omnipath-staging-ontology-cache
